<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Four Columns</title>
    <link rel="stylesheet" href="index.css">

    <style>
      main {
        display: flex;
        justify-content: space-around;
      }

      main > div {
        height: 100%;
        width: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>

  </head>
  <body>

  <main>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </main>

  </body>
</html>
