/** { } selects everything

p { } selects the tag
div { }

#board_1 { } selects element by id

.class { } selects element by class*/


/*select all child elements of ul but the last one*/
/*ul > *:not(:last-child)  */

body {
  margin: 0;
}

nav {
  padding: 5px;
  background-color: steelblue;
  color: white;
}

nav a {
  color: inherit;
  text-decoration: none;
}
