<%- include('./partials/header') %>

    <h2> To Do List</h2>
    <hr />
    <form action="/tasks" method="POST" enctype="multipart/form-data">
      <div>
        <input type="file" name="taskPicture" value="">
      </div>
      <div class="">
        <label for="title">Title</label>
        <textarea name="title" rows ="8" cols="80"></textarea>
      </div>
      <input type="submit" name="" value="Create Task">
      <hr />
    </form>
    
<%- include('./partials/footer') %>
