<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Saver</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>|
      <a href="/notes">Notes</a>|
      <a href="/notes/new">New Note</a>
    </nav>
