<%- include('../partials/header') %>
<h2>New Note</h2>
<form action="/notes" method="POST">
  <div class="">
    <label for="title">Title</label>
    <input type="text" name="title" value="">
  </div>
  <div class="">
    <label for="body">Body</label>
    <textarea name="body" rows="8" cols="80"></textarea>
  </div>
  <input type="submit" name="" value="Create Note">
</form>
<%- include('../partials/footer') %>
